<section class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p-toolbar>
        <ng-template pTemplate="start">
          <div class="d-flex flex-column">
            <h2 class="m-3">Channel Integrations</h2>           
          </div>
        </ng-template>   
      </p-toolbar>
    </div>
  </div>

  <div class="row mt-4 g-3">
    @for (item of channels; track item.platform) {
      <div class="col-lg-4 col-md-6 col-sm-12">
        <app-integration-card
          [platform]="item.platform"
          [title]="item.title"
          [description]="item.description"
          [status]="statusForChannel(item.platform)"
          [icon]="item.icon"
          [isBusy]="isConnecting === item.platform || disconnectingConnectionId !== null"
          (connect)="connect(item.platform)"
          (disconnect)="disconnectChannel(item.platform)"
        />
      </div>
    }
  </div>

</section>

<p-dialog
  [(visible)]="showDisconnectDialog"
  [modal]="true"
  [closable]="false"
  [draggable]="false"
  [resizable]="false"
  header="Confirm Disconnect"
>
  <p class="m-0">Are you sure you want to disconnect this channel?</p>
  <ng-template pTemplate="footer">
    <button pButton type="button" label="Cancel" severity="secondary" [outlined]="true" (click)="cancelDisconnect()"></button>
    <button pButton type="button" label="Disconnect" severity="danger" (click)="confirmDisconnect()"></button>
  </ng-template>
</p-dialog>
